@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.wrapper {
  font-family: 'Cutive Mono', monospace;
}

.wrapper__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  z-index: -10;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .wrapper__img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}