.container {
    margin-top: 20px;
}

.container__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.container p, .container h3 {
    margin: 0;
}

.container img{
    border: 3px solid rgb(191, 144, 0);
    width: 100%;
}

.container i {
    font-size: 30px;
    margin: 0 25px;
    vertical-align: -7px;
}

.container i:hover {
    cursor: pointer;
}

.container a, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      margin: 0 auto;
}

.container a:hover {
    color: rgb(116, 102, 52);
}

.show {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}