.gallery__deck img {
    filter: grayscale(70%);
    border: 1px solid lightgray;
}

.gallery__deck img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.gallery__jumbo  a, a:focus, a:active {
      text-decoration: none; 
      color: inherit;
      margin: 0 auto;
}

.gallery__jumbo  a:hover {
    color: rgb(116, 102, 52);
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery__jumbo-text {
        background: rgba(255,255,255,.5);
        margin-top: 25px;
    }   

     .gallery__deck {
        margin: 0;
    }
}